<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Master Suite">
    <!-- Login Suite -->

    <suite-files>
        <!-- Include login suite -->
        <suite-file path="test-suite-files/readBook-suite.xml"/>
        <suite-file path="test-suite-files/loginTest-suite.xml"/>
        <suite-file path="test-suite-files/brokenLink-suite.xml"/>

    </suite-files>
</suite>
